html{
	box-sizing: border-box;
}
*, *:after,*:before{
	box-sizing: inherit;
}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;

    overflow: hidden;
    background: transparent;
}


h4 {
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	letter-spacing: 3px;
}

p {
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
}

ul.list-inline a {
	display: inline-block;
}




.new-prod {
	background: #000;
	height: auto; 
}

.padd {
	padding-top: 60px;
}


.new-prod h3 {
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
}

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: border 0.3s ease;
}

a:hover
{
  border-bottom: 1px solid #f3f3f3;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 100px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -100px;
  padding: 50px;
  padding-top: 125px;
  
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: #f3f3f3;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.sl {
	margin: 20 auto;
	background-color: #000;
}

.sl2 {
	background-color: #000;
}

.sl-slide {
	position: relative;
}

.sl-cont {
	background: #000;
	margin-top: 150px;
	padding-bottom: 25px;
}

.sl-img-2 {
	margin-top: 5px;
	max-height: 75px;
	max-width: 75px;
	padding-left: : 25px;
	padding-right: : 25px;
}

.button-cart {
	margin-top: 10px;
	display: block;
	border-width: 1px;
	border-color:  #000;
	border-style: solid;
	width: 180px;
	height: 25px;
	font-family: Lato;
	background-color: #f3f3f3;
	color:  #000;
	font-size: 12px;
	letter-spacing: 0.8px;
	font-weight: 400;
	line-height: 13px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 4px;
}

.product {
	width: 100%;
	height: 100vh;
	background-color: #000;
	z-index: 1;
}

.prod-link {
	background: #000;
	width: auto;
	height: auto;
}

.padd-link h3 {	
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
}

.padd-link h4 {	
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
	text-align: left;
}

.padd-link h5 {	
	padding-top: 15px;
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
	text-align: left;
}

.padd-link {
	margin-top: 250px;
	text-align: left;

}

.prod-img {
	margin-top: 250px;
}

.prod-p {
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	text-align: left;
	letter-spacing: 1px;
}

.size {
	padding-top: 10px;
	padding-bottom: 20px;
}

.form-control {
	width: 180px;
	height: 25px;
	background-color: #000;
	border-width: 1px;
	border-color:  #f1f1f1;
	border-style: solid;
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 12px;
	letter-spacing: 0.8px;
	font-weight: 400;
	padding-left: 40px;
	text-align: center;
}

.panel-body p {
	font-family: Lato;
	color:  #f3f3f3;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

footer {
	background-image: url(../img/footerbg.png);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.footer h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Merriweather;
	color:  #f3f3f3;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
	text-align: center;
}